* {
    margin: 0;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: #0c192c;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card {
    background-color: #15273f;
    border-radius: 12px;
    padding: 24px;
    width: 300px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    border-radius: 6px;
}

.card-wrapper {
    color: white;
}

.card-title {
    font-size: 20px;
    margin: 24px 0;

}

.content {
    color: #8bacd9;
    font-size: 18px;
}

.content-title {
    margin-bottom: 24px;
}

.content-infos {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #2e4058;
}

.infos-price {
    display: flex;
    color: #02fffe;
}

.infos-date {
    display: flex;
}

.infos-price-icon {
    margin-right: 6px;
}

.infos-date-icon {
    margin-right: 6px;
}

.infos-price-value {
    font-weight: 700;
}

.infos-created {
    padding-top: 24px;
    display: flex;
    align-items: center;
}

.vscodinho {
    border-radius: 100%;
    border: 1px solid white;
    margin-right: 12px;
    width: 32px;
}

.viadinho-bruno {
    color: white;
}